<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
		<httpErrors errorMode="Detailed" />
        <handlers>
            <add name="FastCgiModule" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\php\php-cgi.exe" resourceType="File" />
        </handlers>
        <defaultDocument>
            <files>
                <add value="Default.php" />
                <add value="Index.php" />
            </files>
        </defaultDocument>
        <rewrite>
            <rules>
				<rule name="rule 1W" stopProcessing="true">
					<match url="^(.*)$" />
					<conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />                     
                    </conditions>
					<action type="Rewrite" url="/index.php" appendQueryString="true" />
				</rule>
            </rules>
        </rewrite>


    </system.webServer>
</configuration>