@media (max-width:765px) {

  html,
  body {
    overflow: unset;
  }

  h3.login-title {
    font-size: 2.5rem;
    text-align: center;
  }

  .bx-general {
    height: inherit;
  }

  .bx-general>.row {
    overflow: hidden;
    min-height: unset;
    height: inherit;
  }

  header .header .logo {
    width: 140px;
    margin-left: 5px;
    filter: brightness(10);
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .header .right .logout {
    padding: 0;
  }

  .header .right .logout a {
    display: flex;
    gap: 5px;
  }

  .header .right .username {
    font-size: 12px;

  }

  header .header {
    position: fixed;
    z-index: 2;
    height: 60px;
  }

  .certificados-bx h3 {
    padding: 0;
    text-align: center;
  }

  .certificados-bx p {
    padding: 0;
    font-size: 1rem;
    text-wrap: wrap;
  }

  .certificados-bx .btn-generar {
    padding: 4px 1px;
    width: 100%;
    font-size: 15px;
    display: block;
  }

  .certificados-bx {
    margin: 20px 0;

  }
}